.register {
  width: 60%;
  margin: auto;
  padding: 50px;
  background: white;
  border-radius: 15px;
  color: black;
}

.submissions, .pendingappr, .myappr, .pendingappl, .newappl, .myappl {
  width: 80%;
  margin: auto;
  margin-top: 10%;
  padding: 20px;
  background: white;
  border-radius: 15px;
  color: black;

}
