.register {
  width: 85%;
  margin: auto;
  margin-top: 5%;
  padding: 50px;
  background: white;
  border-radius: 15px;
  color: black;
}

.submissions, .pendingappr, .myappr, .pendingappl, .newappl, .myappl {
  width: 80%;
  margin: auto;
  margin-top: 80%;
  margin-bottom: 100%;
  padding: 20px;
  background: white;
  border-radius: 15px;
  color: black;

}
